* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'NPSfont_regular', sans-serif;
}

/* Here you font: 국민연금체 */
@font-face {
  font-family: 'NPSfont_regular';
  src: url(./assets/fonts/NPSfont_regular.ttf);
}

@font-face {
  font-family: 'NPSfont_bold';
  src: url(./assets/fonts/NPSfont_bold.ttf);
}

@font-face {
  font-family: 'NPSfont_extrabold';
  src: url(./assets/fonts/NPSfont_extrabold.ttf);
}
